/* body style*/
body {
  background-color: #f4f4f4;
  font-family: aerial, sans-erif;
  margin: 0;
  padding: 20px;
}
h1 {
  color: black;
}
#header {
  background-color: green;
  color: white;
  text-align: center;
  padding: 20px;
}
#nav {
  background-color: black;
  text-align: center;
  padding: 10px 0;
}
#nav a {
  color: white;
  text-align: center;
}
